[submodule "instrumented_apps/geohashdroid/upstream"]
	path = instrumented_apps/geohashdroid/upstream
	url = https://github.com/bugfixops/geohashdroid.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/AmazeFileManager/upstream"]
	path = instrumented_apps/AmazeFileManager/upstream
	url = https://github.com/bugfixops/AmazeFileManager.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/FirefoxLite/upstream"]
	path = instrumented_apps/FirefoxLite/upstream
	url = https://github.com/bugfixops/FirefoxLite.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/nextcloud/upstream"]
	path = instrumented_apps/nextcloud/upstream
	url = https://github.com/bugfixops/android.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/openlauncher/upstream"]
	path = instrumented_apps/openlauncher/upstream
	url = https://github.com/bugfixops/openlauncher.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/Twire/upstream"]
	path = instrumented_apps/Twire/upstream
	url = https://github.com/bugfixops/Twire.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/MaterialFBook/upstream"]
	path = instrumented_apps/MaterialFBook/upstream
	url = https://github.com/bugfixops/MaterialFBook.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/Omni-Notes/upstream"]
	path = instrumented_apps/Omni-Notes/upstream
	url = https://github.com/bugfixops/Omni-Notes.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/AnkiDroid/upstream"]
	path = instrumented_apps/AnkiDroid/upstream
	url = https://github.com/bugfixops/Anki-Android.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/commons/upstream"]
	path = instrumented_apps/commons/upstream
	url = https://github.com/bugfixops/apps-android-commons.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/Fedilab/upstream"]
	path = instrumented_apps/Fedilab/upstream
	url = https://github.com/bugfixops/Fedilab.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/newpipe/upstream"]
	path = instrumented_apps/newpipe/upstream
	url = https://github.com/bugfixops/NewPipe.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/Wikipedia/upstream"]
	path = instrumented_apps/Wikipedia/upstream
	url = https://github.com/bugfixops/apps-android-wikipedia.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/Open-Food-Facts/upstream"]
	path = instrumented_apps/Open-Food-Facts/upstream
	url = https://github.com/bugfixops/openfoodfacts-androidapp.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/StreetComplete/upstream"]
	path = instrumented_apps/StreetComplete/upstream
	url = https://github.com/bugfixops/StreetComplete.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/Vinyl-Music-Player/upstream"]
	path = instrumented_apps/Vinyl-Music-Player/upstream
	url = https://github.com/bugfixops/VinylMusicPlayer.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/open-event-attendee-android/upstream"]
	path = instrumented_apps/open-event-attendee-android/upstream
	url = https://github.com/bugfixops/open-event-attendee-android.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/APhotoManager/upstream"]
	path = instrumented_apps/APhotoManager/upstream
	url = https://github.com/bugfixops/APhotoManager.git
	branch = timemachine-instrumented
