[submodule "instrumented_apps/geohashdroid/upstream"]
	path = instrumented_apps/geohashdroid/upstream
	url = https://github.com/bugfixops/geohashdroid.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/AmazeFileManager/upstream"]
	path = instrumented_apps/AmazeFileManager/upstream
	url = https://github.com/bugfixops/AmazeFileManager.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/FirefoxLite/upstream"]
	path = instrumented_apps/FirefoxLite/upstream
	url = https://github.com/bugfixops/FirefoxLite.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/nextcloud/upstream"]
	path = instrumented_apps/nextcloud/upstream
	url = https://github.com/bugfixops/android.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/openlauncher/upstream"]
	path = instrumented_apps/openlauncher/upstream
	url = https://github.com/bugfixops/openlauncher.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/Twire/upstream"]
	path = instrumented_apps/Twire/upstream
	url = https://github.com/bugfixops/Twire.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/MaterialFBook/upstream"]
	path = instrumented_apps/MaterialFBook/upstream
	url = https://github.com/bugfixops/MaterialFBook.git
	branch = timemachine-instrumented
[submodule "instrumented_apps/Omni-Notes/upstream"]
	path = instrumented_apps/Omni-Notes/upstream
	url = https://github.com/bugfixops/Omni-Notes.git
	branch = timemachine-instrumented
